body {
    margin: 0;
    padding: 0;
    width: 1920px;
    background: #FBE4FF;
}


header {
    background: #243B93;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-image {
    width: 140px;
    height: 50px;
    position: absolute;
    left: 0;
    margin-left: 299px;
    margin-right: 158px;
}

.header-image2 {
    width: 55.56px;
    height: 50px;
    position: absolute;
    right: 0;
    margin-right: 360px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav li {
    margin-right: 20px;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 18.803px;
    text-align: center;
}

.personal-cabinet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin: 0;
    padding: 0;
    width: auto;
}

nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.56px;
}

div.ua {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 316px;
}

.sub-header {
    background: #BFF0FF;
    height: 85px;
    display: flex;
    align-items: center;
    position: relative;
}

.sub-header p {
    font-size: 44px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #202846;
    font-style: italic;
    margin-left: 299px;
}

.choose {
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.61);
    background: #FFF;
    width: 1321px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px auto 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
}

.card {
    width: 1321px;
    height: 300px;
    background: linear-gradient(93deg, #ADCBD4 0%, #00AEE5 100%);
    display: flex;
    overflow: hidden;
}

.card:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.card-image {
    width: 447px;
    height: 246px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    margin-left: 52px;
}

.card-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card-content {
    color: #353C57;
font-family: 'PT Sans', sans-serif;
font-size: 36px;
font-style: italic;
font-weight: 700;
line-height: normal;
margin: 0;
padding: 0;
width: 360px;
height: 47px;
margin-top: 4px;
margin-left: 33px;
}

.underline {
    width: 739px;
    height: 3px;
    background-color: #FFF;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.card-content-text p {
    color: #202846; 
    font-family: 'PT Sans', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 739px;
height: 205px;
margin: 0px;
padding: 10px 16px;
    margin-top: 10px;
background-color: #EDFBFF;
box-sizing: border-box;
position: relative;
}

.card-content-text .image-overlay {
    position: absolute;
    top: 269px;
    left: 1562px;
    cursor: pointer;
    z-index: 2; /* Устанавливаем более высокий z-index для image-overlay */
}

.star-image {
    position: absolute;
    top: 1px;
    left: 3px;
    cursor: pointer;
    z-index: 2;
}

.yellow-star {
    display: none;
}

.custom-button {
    position: absolute;
    top: 506px;
    left: 1455px;
    background-color: #243B93;
    color: #FFF;
    padding: 4px 38px 11px 32px;
    border: none;
    border-radius: 30px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button span {
    text-decoration: none;
}

.custom-button:hover {
    background-color: #EF075B;;
}

.star-image2 {
    position: absolute;
    top: 600px;
    left: 1565px;
    cursor: pointer;
    z-index: 3;
}

.yellow-star2 {
    position: absolute;
    top: 600px;
    left: 1565px;
    cursor: pointer;
    z-index: 2;
}

.button2 {
    position: absolute;
    top: 836px;
    left: 1455px;
    background-color: #243B93;
    color: #FFF;
    padding: 4px 38px 11px 32px;
    border: none;
    border-radius: 30px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button2 span {
    text-decoration: none;
}

.button2:hover {
    background-color: #EF075B;;
}


.star-image3 {
    position: absolute;
    top: 930px;
    left: 1565px;
    cursor: pointer;
    z-index: 3;
}

.yellow-star3 {
    position: absolute;
    top: 930px;
    left: 1565px;
    cursor: pointer;
    z-index: 2;
}

.button3 {
    position: absolute;
    top: 1168px;
    left: 1455px;
    background-color: #243B93;
    color: #FFF;
    padding: 4px 38px 11px 32px;
    border: none;
    border-radius: 30px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button3 span {
    text-decoration: none;
}


.button3:hover {
    background-color: #EF075B;;
}

.button4 {
    position: absolute;
    top: 1500px;
    left: 1455px;
    background-color: #243B93;
    color: #FFF;
    padding: 4px 38px 11px 32px;
    border: none;
    border-radius: 30px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button4 span {
    text-decoration: none;
}

.button4:hover {
    background-color: #EF075B;;
}

.star-image4 {
    position: absolute;
    top: 1260px;
    left: 1565px;
    cursor: pointer;
    z-index: 3;
}

.yellow-star4 {
    position: absolute;
    top: 1260px;
    left: 1565px;
    cursor: pointer;
    z-index: 2;
}

#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(48, 12, 106, 0.30);
    color: #FFF;
    padding: 22.5px 35px 22.5px 35px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#scrollTopButton:hover {
    background: #243B93;
}

.gradient-rectangle {
    width: 100%;
    height: 85px;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    display: flex;
    align-items: center;
    margin-top: 39px;
}

.gradient-rectangle p {
    color: #243B93;
    font-size: 44px;
    font-weight: 700;
    margin-left: 299px;
    font-style: italic;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
line-height: normal;
}

.profile-form {
    width: 1318px;
    margin-left: 301px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.50) 100%);
    display: flex;
    margin-top: 36px;
    height: 498px;

}
.avatar img {
margin-top: 77px;
margin-left: 167px
}

.profile-form .avatar-button {
    display: flex;
    background: #243B93;
    color: #FFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    width: 250px;
    height: 50px;
    margin-bottom: 26px;
    margin-left: 148px;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar-button:hover {
    background-color: #EF075B;
}


.profile-form .card-content4 {
    justify-content: center;
    align-items: center;
    text-align: left; 
    padding-left: 133px;
    padding-top: 57px;
}

.profile-form .card-content4 p {
    color: #353C57;
    font-family: 'PT Sans', sans-serif;
font-size: 36px;
font-style: italic;
font-weight: 700;
line-height: normal;
margin: 0;
margin-top: 17px;
margin-bottom: 17px;

}

.profile-form .card-content4 hr {
    margin: 0;
    border: none;
    height: 3px;
    background-color: #fff;
    width: 712px;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    margin-bottom: 66px;
}
.enter {
    border-radius: 30px;
    background: #243B93;
    width: 174px;
    height: 50px;
    text-align: center;
    color: #FFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    border: none;
}

.enter:hover {
    background-color: #EF075B;
}

.gradient-rectangle2 {
    width: 100%;
    height: 85px;
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    display: flex;
    align-items: center;
}

.gradient-rectangle2 p {
    color: #243B93;
    font-family: 'PT Sans', sans-serif;
font-size: 44px;
font-style: italic;
font-weight: 400;
line-height: normal;
margin-left: 299px;
}

#map-iframe {
    width: 499px;
    height: 290px;
    border-radius: 40px;
    margin: 25px 0px 0px 477px;
}

.contacts-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
}

.contact-details {
    flex: 1;
    display: flex;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.contact-map {
    flex: 2;
}

.contact-info p {
    margin: 0;
    font-size: 32px;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    color: #000;
    margin-bottom: 10px;
}

.contact-info p:nth-child(2n) {
    font-weight: bold;
}

.contact-info p:first-child {
    font-weight: bold;
}

.v0_3 {
    width: 100%;
    height: 2865px;
    background: rgba(251,227,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v0_4 {
    width: 100%;
    height: 65px;
    background: rgba(35,59,146,1);
    opacity: 1;
    position: absolute;
    top: 2800px;
    left: 0px;
    overflow: hidden;
}
.v0_5 {
    width: 386px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2823px;
    left: 301px;
    font-family: PT Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v0_6 {
    width: 499px;
    height: 290px;
    background: url("../images/v0_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2482px;
    left: 800px;
    border: 3px solid rgba(36,59,147,1);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
}
.v0_7 {
    width: 706px;
    height: 190px;
    background: url("../images/v0_7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2482px;
    left: 299px;
    overflow: hidden;
}
.v0_8 {
    width: 374px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 151px;
    left: 0px;
    font-family: PT Sans;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}
.name {
    color: #fff;
}
.v0_10 {
    width: 185px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 100px;
    left: 0px;
    font-family: PT Sans;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}
.v0_11 {
    width: 229px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 45px;
    left: 442px;
    font-family: PT Sans;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}
.name {
    color: #fff;
}
.v0_13 {
    width: 133px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 442px;
    font-family: PT Sans;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}
.v0_14 {
    width: 250px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 45px;
    left: 4px;
    font-family: PT Sans;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v0_16 {
    width: 118px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 2px;
    font-family: PT Sans;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.gradient-rectangle3 {
    background: #243B93;
    width: 1920px;
height: 65px;
}

.gradient-rectangle3 p {
    color: #FFF;
    font-family: 'PT Sans', sans-serif;
text-align: left;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.56px;
margin-left: 300px;
padding-top: 23px;
}







